/*
 * SOWN Styles for Branding
 *
 * Include in projects.
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web&display=swap');

// Branded Colours
$sown-shade-light: #F6F3F2;
$sown-accent-light: #64B3D5;
$sown-brand: #008FFF;
$sown-accent-dark: #687196;
$sown-shade-dark: #181C2D;

// Semantic Colours
$sown-primary: #128ef2;
$sown-info: #1d1d2b;
$sown-success: #3ba581;
$sown-warning: #b89549;
$sown-danger: #f44336;

// Fonts
$sown-font-title: 'Titillium Web', sans-serif;
$sown-font-body: 'Open Sans', sans-serif;

